@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgb(11, 2, 54), rgb(34, 3, 3));
}

main {
  display: flex;
  min-width: 20rem;
  max-height: auto;
  padding: 1rem;
  flex-direction: column;

  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 0px 15px 80px 5px rgb(14, 13, 13);
}
main > h2 {
  position: relative;
  text-align: center;

  height: 2.18rem;
  width: 4.06rem;
  margin: 0.5rem auto;
}

main > h2::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 40%;
  border-radius: 0.5rem;
  top: 1.6rem;
  background: linear-gradient(45deg, rgb(163, 4, 4), rgb(34, 3, 3));
}

.form-login,
.register-form,
.register-address {
  display: flex;
  flex-direction: column;
}
.form-login input,
.register-form input {
  height: 2.5rem;
  width: 100%;
  padding: 0rem 0.5rem;
  outline: none;
  border: none;
  background-color: rgba(253, 253, 253, 0.1);
}

.input-field {
  position: relative;
}

.input-field:first-child {
  margin-bottom: 0.5rem;
}

.input-field .underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 5px;

  background-color: rgba(253, 253, 253, 0.1);
}
.input-field .underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;

  background: linear-gradient(45deg, rgb(11, 2, 54), rgb(34, 3, 3));
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}
.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.form-login input[type='submit'] {
  cursor: pointer;
  padding: 0.5rem;
  background: linear-gradient(to left, rgb(11, 2, 54), rgb(34, 3, 3));
  margin: 0.5rem auto;
  color: white;
  font-weight: 300;
  transition: 0.4s;
}
.form-login input[type='submit']:hover {
  cursor: pointer;
  padding: 0.5rem;
  letter-spacing: 1.5px;
  background: linear-gradient(to right, rgb(11, 2, 54), rgb(34, 3, 3));
  color: white;
  font-weight: 300;
}
.form-login span {
  text-align: center;
  margin: 0.5rem;
  font-size: 12px;
}
.register-box {
  display: flex;
  width: 100%;
  height: 2.2rem;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 0.2rem;
}

.footer span {
  margin: 1rem 0;
  font-size: 12px;
}
.social-fields {
  width: 100%;
}

.social-fields a {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 5px 0;
  padding: 0rem 0.8rem;
  text-decoration: none;
  color: white;
}

.social-fields a i {
  width: 1.8rem;
}

.social-field-twitter {
  background: linear-gradient(to right, rgb(2, 49, 159), rgb(8, 92, 247));
  transition: 0.3s;
}
.social-field-twitter:hover {
  letter-spacing: 1px;
}

.social-field-facebook {
  margin-top: 10px;
  background: linear-gradient(to right, rgb(3, 31, 96), rgb(6, 22, 51));
  transition: 0.3s;
}
.social-field-facebook:hover {
  letter-spacing: 1px;
}
.social-field-google {
  margin-top: 10px;
  background: linear-gradient(to right, rgb(245, 245, 246), rgb(211, 216, 222));
  transition: 0.3s;
}
.social-field-google:hover {
  letter-spacing: 1px;
}
.social-field-google a {
  color: black;
}
.social-field-google a i {
  color: rgb(0, 68, 3);
}

#register {
  cursor: pointer;
  display: flex;

  font-size: 12px;
  margin-top: 0.8rem;
  padding: 0.5rem;

  transition: 0.2s;
}
#register:hover {
  font-size: 14px;
  font-weight: 400;
}

.register-form > h2 {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.register-form span {
  font-size: 12px;
  margin-top: 0.5rem;
  color: rgb(113, 111, 111);
}
.register-form p {
  font-size: 14px;
  margin-top: 0.5rem;
  color: rgb(113, 111, 111);
}

.register-form input {
  background-color: rgb(240, 239, 239);
  margin-top: 0.2rem;
}

.register-form-buttons {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
.register-form-buttons button {
  display: flex;
  width: 8rem;
  height: 1.7rem;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 0.5rem;
  background: linear-gradient(to left, rgb(11, 2, 54), rgb(34, 3, 3));
  margin-top: 1rem;
  color: white;
  font-weight: 300;
  transition: 0.4s;
}
.register-form-buttons button:hover {
  letter-spacing: 0.1rem;
  background: linear-gradient(to right, rgb(11, 2, 54), rgb(34, 3, 3));
}

.hide {
  display: none;
}
